<app-oval appHighdark class="oval oval--dark"></app-oval>
<app-oval appHighlight class="oval oval--light"></app-oval>

<div class="block-1">
    <app-phone class="phone"></app-phone>
</div>

<div class="block-2">
    <p class="title">Simple booking</p>
    <p class="subtitle">Stay in touch with our dog walkers through the chat interface. This makes it easy to
        discuss arrangements and make bookings. Once the walk has been completed you can rate your walker and book again
        all through the chat.</p>
</div>