@import '_colors';

:host {
    height: 100vh;
    //  position: relative;
    display: grid;
    grid-gap: 1%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);

    .oval {
        position: absolute;

        &--dark {
            bottom: 50vh;
            right: 50vw;
        }

        &--light {
            top: 50vh;
            left: 50vw;
        }
    }

    .info {
        grid-column: 1 / 3;
        grid-row: 4 / 6;
        // display: flex;
        // flex-wrap: wrap;
        // justify-content: center;
        
        &__title {
            width: 100%;
            color: $text-01;
            font-size: xx-large;
            font-weight: normal;
            text-align: center;
        }

        &__subtitle {
            width: 80%;
            margin: auto;
            color: $text-02;
            font-size: medium;
            font-weight: lighter;
            text-align: center;
        }
    }
}