<app-phone-header class="header"></app-phone-header>
<div class="comments">
  <app-comment-left>
    That sounds great. I’d be happy to dicuss more.
  </app-comment-left>
  <app-comment-left>
    Could you send over some pictures of your dog, please?
  </app-comment-left>
  <app-comment-left>
    She looks so happy! The time we discussed works. How long shall I take her out for?
  </app-comment-left>
  <app-comment-left-special>
    <p class="message">30 minute walk</p>
    <span class="figure">$29</span>
  </app-comment-left-special>
  <app-comment-left-special>
    <p class="message">1 hour walk</p>
    <span class="figure">$49</span>
  </app-comment-left-special>
</div>