<app-phone-header class="header"></app-phone-header>
<div class="comments">
  <app-comment-left>
    That sounds great. I’d be happy to dicuss more.
  </app-comment-left>
  <app-comment-left>
    Could you send over some pictures of your dog, please?
  </app-comment-left>
  <div class="comments__photos">
    <app-photo class="photo" src="dog-image-1"></app-photo>
    <app-photo class="photo" src="dog-image-2"></app-photo>
    <app-photo class="photo" src="dog-image-3"></app-photo>
  </div>
  <app-comment-right>
    Here are a few pictures. She's a happy girl!
  </app-comment-right>
  <app-comment-right>
    Can you make it?
  </app-comment-right>
  <app-comment-left>
    She looks so happy! The time we discussed works. How long shall I take her out for?
  </app-comment-left>
  <app-comment-left-special>
    <p class="message">30 minute walk</p>
    <span class="figure">$29</span>
  </app-comment-left-special>
  <app-comment-left-special>
    <p class="message">1 hour walk</p>
    <span class="figure">$49</span>
  </app-comment-left-special>
</div>
<app-submit></app-submit>