// @import '_colors'; is already in fonts
@import '_fonts';

:host {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    width: 247px;
    height: 505px;
    border-radius: 30px;
    border: 10px solid white;
    background: #fcfcfc;
    z-index: 1111;
    
    .header {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .comments {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;    
    }
}