// Colors

// Primary -- Gradients

$magent-light: hsl(293, 100%, 63%);
$violet-light: hsl(264, 100%, 61%);

$magent-light-a: hsla(293, 100%, 63%, 0.1);
$violet-light-a: hsla(264, 100%, 61%, 0.3);

$gradient-1: linear-gradient(45deg, $magent-light 0%, $violet-light 100%);
$gradient-2: linear-gradient(45deg, $magent-light-a 0%, $violet-light-a 100%);


// Secondary

$white: hsl(0, 0%, 100%);
$violet-light-grayish: hsl(268, 63%, 95%);
// $violet-dark-verydesaturated: hsl(271, 36%, 24%);
$magent-light-very: hsl(289, 100%, 72%);

// Text colors

$violet-pale: hsl(276, 100%, 81%);
$violet-moderate:hsl(276, 55%, 52%);
$violet-dark-desaturated: hsl(271, 15%, 43%);
$violet-dark-verydesaturated: hsl(271, 36%, 24%);
$violet-dark-grayish: hsl(270, 7%, 64%);
$blue-grayish: hsl(206, 6%, 79%);