// Abstraction of colors to use in app
// Branding colors
$cc-brand-01: #E844FF;
$cc-brand-02: #8739FF;

// Text colors
$text-01: #3E2753;
$text-02: #A39DA9;

// UI colors
$ui-01: #ddd;
$ui-02: #e6e6e6;
