@import '_fonts';

:host {
    width: 138px;
    border-radius: 10px 10px 10px 4px;
    background: $violet-light-grayish;
    padding: 4px 8px;
    margin-left: 8px;
    
    .message {
        @include message;
    }
}